.bg-add{
    justify-content: center;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-table{
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}