<li class="mdl-list__item burger_item">
	<span class="mdl-list__item-primary-content bg_name">
      {{burger_name}}
    </span>
	{{#unless devoured}}
		<!-- Colored mini FAB button -->
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent ate-it" data-id="{{id}} ">
		<i class="material-icons">arrow_right_alt</i>
		</button>
		
	{{/unless}}
</li>
